{%extends "layout.html" %}
 {% block content %}

<div id="account">
    <h2>Create Account</h2>
    <form name="create" action="" method="post">
        <div class="acc-id">
            <ul>
                <li>
                    <label>Customer ID:</label>
                </li>
                <li>
                    <span><input type="text" placeholder="Customer ID"></span><br>
                </li>
            </ul>
        </div><br>
        <div>
            <label>Account Type:</label>
            <select>
                <option>Select</option>
                <option>Current</option>
                <option>Savings</option>
            </select>
        </div><br>
        <div>
            <ul>
                <li>
                    <label>Deposit Amount:</label>
                </li>
                <li>
                    <span><input type="text" placeholder="Amount"></span><br>
                </li>
        </div>
        <div style="padding-left:70px">
            <input type="submit" value="CREATE ACCOUNT" class="btn-submit">
        </div>
    </form>
</div>

{% endblock %}