{% extends "layout.html" %}

{% block content %}

<div id="home">
    <h1>WELCOME TO <span style="color: yellow; font-weight:bold">FEDEXCHOICE</span> BANK</h1>
    <div id="left-content">
        <div class="hs-text">
            <h2>The best way to save your time and money</h2><br>
            <p><span style="color: yellow; font-weight:bold">FEDEXCHOICE</span><span style="font-weight:bold"> BANK</span> will save your time, money and improve the way you manage your business finances. You will have the control you need, with multiple disbursement and payment options, along with many other cash management features to help you optimize your business cash flow</p>
            <br>
            <h2>Offering the most
competitive rates and fees</h2><br>
            <ul>
                <h3>Feature and Benefits</h3><br>
                <li>
                    Competitive interest rates
                </li>
                <li>
                    Instant credit facility
                </li>

                <li>
                    No physical documentation required
                </li>
                <li>
                    24*7 convenience
                </li>

            </ul>
        </div>

    </div>
    <div id="right-content">
        <h2 style="color:yellow;">REPORT A FRAUD</h2>
        <form class="hero-form">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your E-mail">
            <input type="text" placeholder="Your Phone"><br>
            <p>Any transaction in the account that was not authorised directly by the card / account holder is considered to be a fraudulent transaction. </p><br>
            <p>After blocking the card report the transaction to the Bank. You can report this transaction through the below channels:</p><br>
            <ul>
                <li>
                    Email – Send us an email by clicking on the Email tab
                </li>
                <li>
                    Phone – Call us on our Phone Banking numbers
                </li>
                <li>
                    Branch – Visit your nearest Branch
                </li>
            </ul><br>
            <button class="btn-submit">Send</button><br>
        </form>

    </div>
</div>

{% endblock %}

<form name="login" action="login.php" method="get">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login">
            </form>