 {% extends "layout.html" %}

    {% block content %}

    <div class="row">
        <h1>Login</h1><br>
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                        <b>{{ form.username.label }}</b><br>
                        {{ form.username(size=35) }}
                        {% for error in form.username.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </p>
                <br>
                <p>
                    <b>{{ form.password.label }}</b><br>
                        {{ form.password(size=35) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>
        </div>
    </div>
 {% endblock %}