{%extends "layout.html" %}
 {% block content %}

        <div class="center">
        <h1>Delete Account</h1>
            <br>
        <h3></h3>
 </div>
            <h2></h2>
             <tr>
                    <td><label>Account No:<span style="color:red">*</span></label></td>
                    <td><input name="Account No:" type="text"  required="required"></td>
                </tr>
                <tr>
                    <td><label>Account type:<span style="color:red">*</span></label></td>
                    <td><input name="Account type:" type="text" required="required"></td>
                </tr>




            </div>
    </div>
{% endblock %}