{% extends "layout.html" %}

{% block content %}
<div id="create-customer">
    <h1>UPDATE CUSTOMER</h1>
    <br>
    <form name="create" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <tbody id="table-form">
            <table>
                <tr>
                    <td>{{ form.customerId.label }}:</td>
                    <td>{{ form.customerId}}</td>
                </tr>
                <tr>
                    <td>{{ form.customer_name.label }}</td>
                    <td>{{ form.customer_name }}</td>
                </tr>

                <tr>
                    <td>{{ form.address.label }}:</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>{{ form.age.label }}</td>
                    <td>
                        {{ form.age }}
                    </td>
                </tr>
                <tr>
                    <td>
                    {{ form.submit() }}
                    </td>
                </tr>
            </table>
        </tbody>
    </form>
</div>
{% endblock %}