* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
    margin:0px;
    letter-spacing: 2px;
}

header {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover { color : red;}

hr {
    width: 100%;
    height:4px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 16px 0 5px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.alert {
  padding: 20px;
  background-color: #FF6347; /* Red */
  color: white;
  margin-bottom: 15px;
}
.alert-sucess {
  padding: 20px;
  background-color: #008000;
  opacity: 0.5;
  color: white;
  margin-bottom: 15px;
}
.error-message {
  /*background-color: #FF6347*/; /* Red */
  color: red;
  margin-bottom: 15px;
}


input#submit, .btn-submit {
    background-color: black;
    color: yellow;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
}
input#submit, .btn-submit:hover {
    opacity: 1;
}

.welcome {
    color:red;
	text-align:center;
	margin-top:200px;
	text-shadow:1px 1px 1px black;
	font-size:20px;

}


/*title*/
#title{
    color:white;
    background: #111;
    height: 200px;
    position: relative;
}
.logo-title{
    padding: 50px 150px;
}

/* navigation */

/* footer */
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
    position: relative;
}
.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
    color:white;
}

.box .content{
    margin: 20px 0 0 0;
}

.box .service{
    margin: 20px 0 0 0;
}
.box .contact{
    margin: 20px 0 0 0;
}
/* background page */
#page{
    background-color: #b4b4b4;
    height: 100%;
    position:relative;
    color:#000000;
}
/* table */
td {
  width: 150px;
  text-align: center;
  padding: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}


/* create customer ## deposit amount ## withdraw amount ## update customer */
#create-customer{
  max-width:500px;
  margin:0rem auto;
  padding:50px;
  font-weight: bold;
}
#create-customer select{
    width: 100px;
}
#create-customer td {
  width: 150px;
  text-align: center;
  padding: 10px;
}
#create-customer table {
  border-collapse: separate;
  border-spacing: 0 15px;
}


/* login form */
.row form {
    padding: 30px 200px;
    /* text-align: center; */
    margin: 3px 16px 30px 350px;
}
.row h1 {
    text-align: center;
    padding: 20px;
}
/* login form */



/* home page */

#home h1{
    text-align: center;
    padding-top: 20px;
}


#left-content {
    position: relative;
    width: 500px;
    /* padding-right: 15px; */
    padding-left: 55px;
    float: left;
}
#left-content .hs-text {
    margin: -56px 5px 7px 6px;
    padding: 136px 18px 0px 20px;
    /* padding-right: 10px; */
    width: 500px;
}

#left-content li{
    display: block;
}

#right-content {
    margin: 45px 55px;
    background: #22242b;
    padding: 25px 0px 5px;
    width: 500px;
    float: right;
}
#right-content .hero-form {
    padding-top: 27px;
    padding-right: 10px;
    padding-left: 27px;
}
#right-content h2{
    text-align: center;
    padding-top: 10px;
}
#right-content li{
    display: block;
    color:yellow;
}
#right-content p{
    color:yellow;
}

/* home page */

/* delete account create account*/
#account h2 {
    text-align: center;
    padding: 60px;
    font-weight: bold;
}

#account form {
    padding: 0px 83px 60px;
    width: 50%;
    margin: 34px 500px 46px;
}
#account li{
    display:inline-flex;
}

#account input[type=text]{
    width: 90%;
    padding: 10px;
    margin: 17px 0 5px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}
#account select{
    width: 160px;
}

#account input[type=text]:focus{
    background-color: #ddd;
}



/* nav bar */
.navbar {
  overflow: hidden;
  background-color: #b4b4b461;
  font-family: Arial;
  padding: 0px 235px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #726a13;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: #4f4f4f;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #726a13;
}

/* Show the dropdown menu on hover */
.dropbtn.active, .dropdown:hover .dropdown-content {
  display: block;
  background-color: #726a13;

}
.active{
  background-color: #726a13;
  color: white;
}
/* nav-bar */

/* flash messages */
.alert {
  padding: 20px;
  background-color: #FF6347; /* Red */
  color: white;
  margin-bottom: 15px;
}
.alert-sucess {
  padding: 20px;
  background-color: #008000;
  opacity: 0.5;
  color: white;
  margin-bottom: 15px;
}
.error-message {
  /*background-color: #FF6347*/; /* Red */
  color: red;
  margin-bottom: 15px;
}