<footer>
    <div class="main-content">
        <div class="left box">
            <h2 style="color:yellow">ABOUT<span style="color:white"> US</span></h2>
            <div class="content">
                Retail Banker is one of the prominent banking services in the world providing services to the customers since 2015
            </div>
        </div>

        <div class="middle box">
            <h2 style="color:yellow">SERVICES</h2>
            <div class="service">
                <a href="loan.html" style="color:white">Loans</a>

            </div>
            <div class="service">
                <a href="Deposit.html" style="color:white">Deposit</a>
            </div>
            <div class="service">
                <a href="Account.html" style="color:white">Account</a>
            </div>
        </div>

        <div class="right box">
            <h2 style="color:yellow">Contact<span style="color:white"> US</span></h2>
            <div class="contact">
                <h4 style="color:yellow">Address: <span style="color:white">Willing Street</span> </h4>
            </div>
            <div class="contact">
                <h4 style="color:yellow">Phone: <span style="color:white">+91008928292922</span> </h4>
            </div>
        </div>
    </div>
</footer>