    <header id="nav">
        <nav class="nav-panel">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="home.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="customer_management.html" class="nav-link">Customer Management</a></li>
                    <li class="nav-item"><a href="account_management.html" class="nav-link">Account Management</a></li>
                    <li class="nav-item"><a href="status_details.html" class="nav-link">Status Details</a></li>
                    <li class="nav-item"><a href="account_operations.html" class="nav-link">Account Operation</a></li>

            </ul>
        </nav>
        <hr style="clear:both">
    </header>